services:
  postgres:
    image: postgres:13
    env_file:
      - ./server/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    env_file:
      - ./server/.env
    ports:
      - "8080:8080"
    depends_on:
      - postgres
  
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    env_file:
      - ./server/.env
    volumes:
      - redis_data:/data

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    env_file:
      - ./server/.env
    ports:
      - "8000:8000"
    volumes:
      - ./server:/app
    depends_on:
      - postgres
  
volumes:
  postgres_data:
    name: postgres-data
  redis_data:
    name: redis-data

